<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="Trabalho 3"/>
        <meta name="author" content="Ana Carolina Fidelis Gonçalves e Davi de Almeida Cardoso"/>

        <title>Trabalho 3 | Home</title>

        <!-- Custom fonts for this template-->
        <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
        <!-- Page level plugin CSS-->
        <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet"/>
        <!-- Custom styles for this template-->
        <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>

    </head>

    <body id="page-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand mr-1" href="/">Trabalho 3</a>
            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/etiquetas}">
                        <i class="fa fa-tags"></i>
                        <span>Etiquetas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/itens}">
                        <i class="fa fa-list-ol"></i>
                        <span>Itens</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/usuarios}">
                        <i class="fa fa-users"></i>
                        <span>Usuários</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/vinculo/create}">
                        <i class="fa fa-snowflake-o"></i>
                        <span>Vincular Item</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/anotacoes/itens/create}">
                        <i class="fa fa-comments-o"></i>
                        <span>Anotação Item</span>
                    </a>
                </li>
            </ul>

            <div id="content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-primary o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fa fa-tags"></i>
                                    </div>
                                    <div>Etiquetas</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" th:href="@{/admin/etiquetas}">
                                    <span class="float-left">Ir</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-warning o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div>Usuários</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" th:href="@{/admin/usuarios}">
                                    <span class="float-left">Ir</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-success o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fa fa-list-ol"></i>
                                    </div>
                                    <div>Itens</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" th:href="@{/admin/itens}">
                                    <span class="float-left">Ir</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © Ana Carolina Fidelis Gonçalves e Davi de Almeida Cardoso 2019</span>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Page level plugin JavaScript-->
        <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin.min.js}"></script>

        <!-- Custom  aplication-->
        <script th:src="@{/js/trabalho3.js}"></script>

    </body>
</html>
